---
- hosts: kubernetes
  user: root

  tasks:
  - name: deploy webapp on kubernetes
    command: kubectl apply -f /opt/webapp_deployment/webapp_deployment.yml

  - name: update deployment with new pods if image updated in docker hub
    command: kubectl rollout restart deployment.apps/webapp-deploy